extends header

block content 
  .about
    p
      | My name is Divya Patel. Currently I am full-time student at Georgian College in diploma Course. This is something about me page on my personal portfolio website
