extends header

block content 
  .about
    p This is my contact me page.
          
    p
      |37 Johnson st. Barrie, ON
    p
      a(href="mailto:deepupatel5619@gmail.com") deepupatel5619@gmail.com
    p
      |(647) 573 8673
            

    